{% extends "base.html" %}

{% block pagecontent %}
<script>
  var textareastuff = "<label for='id_pagecontent'>Page Text:</label> <textarea id='id_pagecontent' name='pagecontent' rows='10' cols='40'>{{oldcontents}}</textarea>";
  var inputstuff = "<label for='id_pagecontent'>Page Title to Redirect To:</label><input type='text' id='id_pagecontent' name='pagecontent'>";
  function changePagecontentWidget() {
      var box = document.getElementById("id_redirect");
      var div = document.getElementById("pagecontentdiv");
      if (box.checked)
	  div.innerHTML = inputstuff;
      else
	  div.innerHTML = textareastuff;
  }
</script>
<form method="POST">
{% csrf_token %}
<div>
  <label for="id_redirect">Redirect?:</label>
  {{ form.redirect }}
</div>
<div id="pagecontentdiv">
  <label for="id_pagecontent">Page Text:</label>
  {{ form.pagecontent }}
</div>
<input type="submit" value="Save Changes">
</form>
{% endblock %}
